.container__content--description {
  @include flex-col;
  background: $primary-orange;
  color: white;
  justify-content: center;
  padding: 80px 15px;
  text-align: center;
  > h2 {
    font-size: 1.8em;
    font-weight: lighter;
  }
  > p {
    line-height: 2;
    color: $lighter-white;
  }
  @media (min-width: 768px) {
    height: auto;
    padding: 100px 30px;
  }
  @media (min-width: 1440px) {
      > p, > h2 {
        width: 60%;
      }
  }
}
