.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 25;
  background: white;
  > a {
    text-decoration: none;
    color: $primary-orange;
  }
}

.logo {
  padding: 10px 15px;
  font-weight: bold;
}

.navbar__toggle {
  padding:  5px 10px;
  margin-right: 10px;
  background: white;
  font-size: 0.9em;
  border: 1px solid lighten($secondary-gray, 38%);
  > i {
    margin-left: 5px;
  }
  @media (min-width: 758px) {
    display: none;
  }
}

.navbar__list {
  background: white;
  border-top: 1px solid lighten($secondary-gray, 38%);
  opacity: 0;
  padding: 10px 0;
  position: absolute;
  top: $header-height;
  transition: opacity 0.5s ease;
  width: 100%;
  z-index: 10;
  > a {
    text-decoration: none;
    color: black;
    > li {
      padding: 20px 15px;
    }
  }

  @media (min-width: 758px) {
    border: none;
    display: flex;
    list-style: none;
    opacity: 1;
    padding: 0;
    position: relative;
    top: 0;
    width: auto;
    a {
      > li {
        padding: 10px 15px;
      }
    }
  }
}
