.container__content--portfolio {
  @include flex-col;
}

.portfolio-img-container {
  @include flex-col;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio-img-container__item {
  width: 100%;
  position: relative;
  > img {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 1440px) {
    width: 33.3333%;
  }
}

.portfolio-overlay {
  @include flex-col;
  background: $primary-orange;
  bottom: 0;
  color: white;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease;
  width: 100%;
  > .portfolio-overlay--title {
    font-size: 1em
  }
  > .portfolio-overlay--description {
    font-size: 1.3em
  }
}

.portfolio-img-container__item:hover .portfolio-overlay {
  opacity: .9;
}
