// colors

$primary-orange : #F05F40;
$secondary-gray : #777;
$lighter-white : rgba(255,255,255,.7);

// fonts

$font-family--primary : Merriweather,'Helvetica Neue', Arial, sans-serif;

// header height

$header-height: 50px;
